.courses-page .faq {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 100px;
  padding: 0 10px;
  line-height: 1.5;
}

.courses-page .faq h2 {
  text-align: center;
  margin: 50px 0;

  font-weight: 900;
  color: rgba(var(--color-dark-green));
}

.courses-page .faq p:nth-child(2) {
  margin-bottom: 20px;
}

.courses-page .faq li {
  display: flex;
  align-items: center;

  height: 32px;

  margin-bottom: 10px;
  border-radius: 22px;

  background-color: rgba(var(--color-light-blue));
  list-style: none;
  cursor: pointer;
}

.courses-page .faq li:hover {
  background-color: rgba(var(--color-light-blue), 0.8);
}

.courses-page .faq li img {
  width: 24px;
  margin: 3px 10px 3px 20px;
}

.courses-page .faq ul p {
  margin: 0 15px 20px 15px;
  padding: 10px;
}
