.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 96px;

  background: radial-gradient(
    circle,
    rgba(241, 187, 82, 0.1) 0%,
    rgba(153, 211, 219, 0.1) 50%,
    rgba(241, 187, 82, 0.1) 100%
  );
}

.home h1 {
  text-align: center;
  font-size: var(--font-size-large);
  font-weight: 900;
}

.home h2 {
  font-size: var(--font-size-medium);
  font-weight: 900;
  padding: 0 10px;
}

.home .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .title h1 {
  margin: 50px 0 10px;
  font-weight: 900;
  font-family: var(--font-one);
  color: rgba(var(--color-dark-green));
  font-size: var(--font-size-biggest);
}

.home .title h2 {
  font-family: var(--font-one);
  color: rgba(var(--color-light-green));
  font-size: var(--font-size-large);
}

.home .video {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 800px;
  margin-top: 50px;
}

.home .video .top {
  width: 100%;
  height: 40%;
}

.home .video .bot {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60%;
  background-image: url("../../assets/bgsquare.png");
  background-size: 100% auto;
  background-attachment: fixed;
}

.home .video .bot .content {
  position: relative;
  width: 100%;
  max-width: 1300px;
}

.home .video .bot .content iframe {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 1300px;
  min-width: 300px;
  height: 800px;
  min-height: 100px;

  border: solid 10px rgba(var(--color-gray));
  border-radius: 10px;
}

.home .social-number {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 200px;
  width: 100%;

  color: rgba(var(--color-dark-green));
  background: rgba(var(--color-light-blue));
}

.home .social-number .content {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  height: 100%;
  padding: 0 20px;
}

.home .social-number .content .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.home .social-number .content .left h2 {
  margin-bottom: 10px;
}

.home .social-number .content .right {
  display: flex;
  justify-content: flex-end;

  width: 50%;
  height: 100%;
}

.home .social-number .content .right .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 380px;
}

.home .social-number .content .right .content button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;

  font-size: var(--font-size-medium);
  font-weight: 900;
  background-color: rgba(var(--color-yellow));

  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.home .social-number .content .right .content button:hover {
  background-color: rgba(var(--color-dark-green));
  color: rgba(var(--color-white));
}

.home section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.home .courses {
  width: 100%;
  max-width: 1300px;
}

.home .courses h1 {
  margin: 60px 0;
  font-weight: 900;
  font-size: var(--font-size-biggest);
  color: rgba(var(--color-dark-green), 1);
}

.home section .home-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
}

.home .section-exclusive {
  width: 100vw;
  margin-top: 100px;

  padding: 0 20px;
}

.home .section-exclusive h1 {
  text-align: center;
  font-size: var(--font-size-biggest);
  color: rgba(var(--color-dark-green));
}

.home .section-exclusive p {
  text-align: center;
  color: rgba(var(--color-dark-green));
  font-weight: 600;
}

.home .section-exclusive .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  max-width: 1300px;
  gap: 20px;
}

.home .about {
  width: 100%;
  max-width: 1300px;

  margin-top: 90px;
  padding: 0 20px 50px;

  background: rgb(115, 211, 219);
  background: linear-gradient(
    151deg,
    rgba(var(--color-light-blue)) 39%,
    rgba(var(--color-light-green)) 71%,
    rgba(var(--color-dark-green)) 89%
  );

  border-radius: 10px;
  z-index: 1;
}

.home .about .top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.home .about .top h1 {
  font-size: var(--font-size-large2);
  font-weight: 900;
  letter-spacing: 2px;
  color: rgba(var(--color-dark-green));
}

.home .about .content {
  display: flex;
  height: auto;
}

.home .about .content .left {
  height: 100%;
  width: 50%;
  padding: 0 30px;
}

.home .about .content .left h2 {
  margin-bottom: 10px;
  color: rgba(var(--color-dark-green));
}

.home .about .content .left p {
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

.home .about .content .right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  padding-bottom: 20px;
}

.home .about .content .right img {
  height: auto;
  width: 50%;
  border: 10px solid rgba(var(--color-dark-green));
  border-radius: 90px;
}

.home .testimony {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: -140px;

  padding: 80px 20px 180px;
  border-radius: 10px;

  background-color: rgba(var(--color-light-blue));
}

.home .testimony h1 {
  margin: 120px 0 60px;
  font-weight: 900;
  color: rgba(var(--color-dark-green));
  font-size: var(--font-size-large2);
}

.home .testimony .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.home .faq {
  display: flex;
  width: 100%;
  max-width: 1300px;

  margin: 100px 0;
  padding: 0 20px;
  color: rgba(var(--color-dark-green));
}

.home .faq .left {
  display: flex;
  justify-content: center;
  width: 50%;
}

.home .faq .right {
  display: flex;
  justify-content: center;
  width: 50%;
}

.home .faq .right ol {
  width: 100%;
}

.home .faq .right ol img {
  width: 24px;
}

.home .faq .right ol li {
  display: flex;
  align-items: center;
  justify-content: center;

  height: auto;
  width: 100%;
  padding: 10px 20px;
  gap: 14px;

  border-top: 1px solid rgba(var(--color-dark-green));
  cursor: pointer;
}

.home .faq .right ol li:hover {
  background-color: rgba(var(--color-light-blue));
}

.home .faq .right ol p {
  padding: 0 20px;
  text-align: center;
  margin: 10px 0;
}

@media (max-width: 1350px) {
  .home .title h1 {
    padding: 0 20px;
  }

  .home .title h2 {
    padding: 0 20px;
  }

  .home .video {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 550px;
  }

  .home .video .bot .content iframe {
    width: 950px;
    height: 550px;
  }

  .home .video .top {
    height: 100px;
  }
}

@media (max-width: 980px) {
  .home .title h1 {
    padding: 0 20px;
  }

  .home .title h2 {
    padding: 0 20px;
  }

  .home .video {
    height: 450px;
  }

  .home .video .bot .content iframe {
    width: 700px;
    height: 450px;
  }

  .home .video .top {
    height: 100px;
  }

  .home .social-number .content .right {
    justify-content: center;
    width: 500px;
  }

  .home .social-number .content .left {
    display: none;
  }

  @media (max-width: 730px) {
    .home .title h1 {
      padding: 0 20px;
    }

    .home .title h2 {
      padding: 0 20px;
    }

    .home .video {
      height: 250px;
    }

    .home .video .bot .content iframe {
      width: 400px;
      height: 250px;
    }

    .home .video .top {
      display: none;
    }

    .home .about .content {
      height: auto;
    }

    .home .about .top h1 {
      font-size: var(--font-size-large);
    }

    .home .about .content .left {
      width: 100%;
    }

    .home .about .content .right {
      display: none;
    }

    .home .social-number .content .right {
      justify-content: center;
      width: 500px;
    }

    .home .social-number .content {
      padding: 0;
    }
  }

  @media (max-width: 570px) {
    .home .title h1 {
      padding: 0 20px;
    }

    .home .title h2 {
      padding: 0 20px;
    }

    .home .video {
      height: 250px;
    }

    .home .video .bot .content iframe {
      width: 400px;
      height: 250px;
    }

    .home .video .top {
      display: none;
    }

    .home .social-number .content .right {
      justify-content: center;
      width: 390px;
    }

    .home .social-number .content {
      padding: 0;
    }
  }

  @media (max-width: 500px) {
    .home .title h1 {
      margin-bottom: 20px;
    }

    .home .title h2 {
      text-align: center;
    }
  }

  @media (max-width: 425px) {
    .home .title h1 {
      font-size: 48px;
    }

    .home .title h2 {
      font-size: 26px;
    }

    .home .courses h1 {
      font-size: 48px;
    }

    .home h1 {
      font-size: 32px;
    }

    .home .video {
      height: 200px;
    }

    .home .video .bot .content iframe {
      width: 300px;
      height: 220px;
    }

    .home .video .top {
      display: none;
    }

    .home .social-number .content .right {
      justify-content: center;
      width: 300px;
    }

    .home section .home-courses {
      width: 320px;
    }

    .home .about .top {
      height: 100px;
    }

    .home .about .top h1 {
      font-size: var(--font-size-medium);
    }

    .home .about .content .right {
      height: 300px;
    }

    .home .about .content .right {
      display: none;
    }

    .home .about .content .left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .home .about .bottom {
      height: 100px;
    }

    .home .testimony h1 {
      font-size: var(--font-size-large);
    }

    .home .testimony .content {
      width: 100%;
    }

    .home .faq {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .home .faq .left,
    .home .faq .right {
      width: 100%;
    }

    .home .faq .left h1 {
      margin-bottom: 20px;
    }

    .home .faq .right {
      text-align: center;
      padding: 0 20px;
    }
  }
}
