.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 96px;

  background: radial-gradient(
    circle,
    rgba(241, 187, 82, 0.1) 0%,
    rgba(153, 211, 219, 0.1) 50%,
    rgba(241, 187, 82, 0.1) 100%
  );
}

.home h1 {
  font-size: var(--font-size-large);
  font-weight: 900;
}

.home h2 {
  font-size: var(--font-size-medium);
  font-weight: 900;
}

.home .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .title h1 {
  margin-top: 50px;
  font-weight: 900;
  font-family: var(--font-one);
  color: rgba(var(--color-orange));
  font-size: var(--font-size-biggest);
}

.home .title h2 {
  font-family: var(--font-one);
  color: rgba(var(--color-orange));
  font-size: var(--font-size-medium);
}

.home .video {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 800px;
  margin-top: 50px;
}

.home .video .top {
  width: 100%;
  height: 40%;
}

.home .video .bot {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60%;
  background-color: rgba(var(--color-dark-green));
}

.home .video .bot .content {
  position: relative;
  width: 1300px;
}

.home .video .bot .content iframe {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  min-width: 320px;
  height: 800px;

  border: solid 10px rgba(var(--color-orange));
  border-radius: 10px;
}

.home .social-number {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 200px;
  width: 100%;

  color: rgba(var(--color-dark-green));
  background: radial-gradient(
    circle,
    rgba(241, 187, 82, 1) 0%,
    rgba(246, 142, 79, 1) 100%
  );
}

.home .social-number .content {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  height: 100%;
}

.home .social-number .content .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.home .social-number .content .left h2 {
  margin-bottom: 10px;
}

.home .social-number .content .right {
  display: flex;
  justify-content: flex-end;

  width: 50%;
  height: 100%;
}

.home .social-number .content .right .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 380px;
}

.home .social-number .content .right .content button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;

  font-size: var(--font-size-medium);
  font-weight: 900;
  border: 2px solid rgba(var(--color-dark-green));
  background-color: rgba(var(--color-light-green));

  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.home .social-number .content .right .content button:hover {
  background-color: rgba(var(--color-light-blue));
}

.home section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1300px;
  margin-top: 50px;
}

.home .courses h1 {
  margin: 60px 0;
  font-weight: 900;
  font-size: var(--font-size-biggest);
  color: rgba(var(--color-dark-green), 1);
}

.home section .home-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  gap: 20px;
}

.home .section-exclusive {
  width: 1300px;
  margin-top: 100px;
}

.home .section-exclusive h1 {
  font-size: var(--font-size-biggest);
  color: rgba(var(--color-orange));
}

.home .section-exclusive p {
  color: rgba(var(--color-dark-green));
  font-weight: 600;
}

.home .section-exclusive .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  gap: 20px;
}

.home .about {
  width: 1300px;
  height: 1100px;
  margin-top: 90px;
  background: radial-gradient(
    circle,
    rgba(22, 169, 168, 1) 11%,
    rgba(15, 68, 74, 1) 69%
  );

  border-radius: 10px;
}

.home .about .top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.home .about .top h1 {
  font-weight: 900;
  letter-spacing: 2px;
  color: rgba(var(--color-orange));
  text-shadow: 3px 3px 1px rgba(var(--color-dark-green));
}

.home .about .content {
  display: flex;
  height: 650px;
}

.home .about .content .left {
  height: 100%;
  width: 50%;
  padding: 0 30px;
}

.home .about .content .left h2 {
  margin: 10px 0;
}

.home .about .content .right {
  position: relative;
  height: 100%;
  width: 50%;
}

.home .about .content .right img {
  position: absolute;
  width: 100%;
  right: -50px;
  border: 10px solid rgba(var(--color-dark-green));
  border-radius: 10px;
}

.home .about .bottom {
  height: 250px;
}

.home .testimony {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1300px;
  margin-top: 100px;

  padding: 100px 20px 20px 20px;
  border-radius: 10px;

  background: linear-gradient(
    0deg,
    rgba(241, 187, 82, 1) 0%,
    rgba(246, 142, 79, 1) 100%
  );
}

.home .testimony h1 {
  margin-bottom: 30px;
  font-weight: 900;
  color: rgba(var(--color-dark-green));
}

.home .testimony .content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.home .faq {
  display: flex;
  width: 1300px;
  margin: 100px 0;
  color: rgba(var(--color-dark-green));
}

.home .faq .left {
  display: flex;
  justify-content: center;
  width: 50%;
}

.home .faq .right {
  display: flex;
  justify-content: center;
  width: 50%;
}

.home .faq .right ol {
  width: 100%;
}

.home .faq .right ol li {
  display: flex;
  align-items: center;

  height: 50px;
  width: 100%;
  padding-left: 60px;

  border-top: 1px solid rgba(var(--color-dark-green));
}

@media (max-width: 1300px) {
  .home .video {
    height: 600px;
  }

  .home .video .bot .content iframe {
    width: 800px;
    height: 600px;
  }

  .home .social-number .content {
    width: 800px;
  }

  .home section .home-courses{
    width: 1000px;
  }

  .home .about {
    width: 800px;
    height: 900px;
  }

  .home .testimony {
    width: 900px;
  }

  .home .testimony .content {
    display: flex;
    justify-content: center;
  }

  .home .faq {
    align-items: center;
    flex-direction: column;
  }
}
