.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 96px;

  padding: 0 40px;
  border-bottom: 1px solid rgba(var(--color-dark-green), 1);
  background: linear-gradient(
    90deg,
    rgba(15, 68, 74, 1) 0%,
    rgba(153, 211, 219, 1) 0%,
    rgba(15, 68, 74, 1) 33%,
    rgba(15, 68, 74, 1) 100%
  );
}

.header img {
  width: 130px;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1200px;
}

.header .navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  min-width: 701px;

  padding: 0 20px;
}

.header .navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding: 0 12px;

  font-size: var(--font-size-medium);
  color: rgba(var(--color-orange), 1);
  text-shadow: 2px 2px 1px rgba(var(--color-dark-green), 1);
  text-decoration: none;

  transition: ease-out 0.2s;
  border-radius: 10px;
}

.header .navbar ul li a:hover {
  padding: 0 12px;
  background-color: rgba(var(--color-light-green), 0.4);
}

.header .access {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 50px;

  padding: 0 20px;
  gap: 20px;

  border-left: 1px solid rgba(var(--color-orange), 1);
}

.header .access .login {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 180px;
  gap: 10px;
  border-radius: 10px;

  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.header .access .login:hover {
  background-color: rgba(var(--color-light-green), 0.5);
}

.header .access .login img {
  width: 32px;
}

.header .access button {
  all: unset;

  color: rgba(var(--color-orange), 1);
  font-weight: 600;
}

.header .access .buy button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 38px;
  width: 160px;
  border: 1px solid rgba(var(--color-orange), 1);
  border-radius: 10px;

  cursor: pointer;
}

.header .access .buy button:hover {
  background-color: rgba(var(--color-light-green), 1);
  color: rgba(var(--color-white), 1);
}
