.card-courses {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 400px;

  border-radius: 10px;
  border: 1px solid rgba(var(--color-dark-green), 1);
}

.card-courses .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 86%;
  width: 86%;

  border-radius: 10px;
}

.card-courses .logo-course {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 145px;
  border-radius: 5px;

  background: radial-gradient(
    circle,
    rgba(var(--color-white), 1) 0%,
    rgba(var(--color-light-green), 1) 20%,
    rgba(var(--color-dark-green), 1) 100%
  );
}

.card-courses .logo-course img {
  width: 72px;
  padding: 10px;

  border: 3px solid rgba(var(--color-light-green), 1);
  border-radius: 30px;
  box-shadow: 0px 0px 40px 30px rgba(var(--color-white), 0.5);
}

.card-courses .infos {
  height: 120px;
  width: 100%;
}

.card-courses .infos .title {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  margin-top: 4px;
}

.card-courses .infos .title h3 {
  margin: 20px 0;
  font-size: var(--font-size-medium);
  color: rgba(var(--color-dark-green), 1);
}

.card-courses .infos .title p {
  font-size: var(--font-size-small);
  color: rgba(var(--color-dark-green), 1);
}

.card-courses .see-details {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
  width: 100%;
}

.card-courses .see-details button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 100%;

  border: 1px solid rgba(var(--color-dark-green));
  background-color: rgba(var(--color-light-green), 0.6);
  border-radius: 10px;

  color: rgba(var(--color-dark-green), 1);
  font-weight: 600;

  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.card-courses .see-details button:hover {
  background-color: rgba(var(--color-orange), 1);
}
