.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 96px;

  background-color: rgba(var(--color-gray), 1);

  z-index: 2;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  max-width: 1300px;
  height: 96px;
}

.header img {
  width: 260px;
}

.header .hamburger {
  display: none;
  width: 50px;
  margin: 0 50px;
  cursor: pointer;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 800px;
}

.header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  height: 50px;
  min-width: 400px;

  padding: 0 20px;
}

.header .navbar .other-page {
  justify-content: flex-end;
}

.header .navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 100px;
  padding: 0 12px;

  font-size: var(--font-size-medium);
  color: rgba(var(--color-dark-green), 1);
  text-decoration: none;

  transition: ease-out 0.2s;
  border-radius: 10px;
}

.header .navbar .other-page {
  justify-content: flex-end;
}

.header .navbar ul li a:hover {
  padding: 0 12px;
  background-color: rgba(var(--color-light-green), 0.4);
}

.header .navbar .other-page li a {
  width: 180px;
}

.header .access {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;

  border-left: 1px solid rgba(var(--color-light-green), 1);
}

.header .access .login {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 210px;
  border-radius: 10px;

  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.header .access .login:hover {
  background-color: rgba(var(--color-light-green), 0.5);
}

.header .access .login a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.header .access .login img {
  width: 32px;
}

.header .access button {
  all: unset;

  color: rgba(var(--color-dark-green), 1);
  font-weight: 600;
}

.header .access .buy button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 38px;
  width: 160px;

  border-radius: 10px;

  cursor: pointer;
  border: 1px solid rgba(var(--color-dark-green), 1);
}

.header .access .buy button:hover {
  background-color: rgba(var(--color-light-green), 1);
  color: rgba(var(--color-dark-green), 1);
  text-shadow: none;
}

@media (max-width: 1300px) {
  .header .container {
    max-width: 1000px;
  }

  .header .navbar ul {
    display: none;
  }

  .header .logo {
    display: none;
  }

  .header .hamburger {
    display: flex;
  }

  .header .access {
    width: 300px;
  }

  .header .access .login {
    width: 40px;
  }

  .header .access .login button {
    display: none;
  }

  @media (max-width: 425px) {
    .header {
      padding: 0;
    }

    .header .container {
      max-width: 390px;
      padding: 0 30px;
    }

    .header .container .navbar .access {
      width: 50px;
      margin-right: 10px;
    }

    .header .menu-hamburg {
      width: 50px;
    }

    .header .menu-hamburg img {
      margin: 0 0 0 10px;
    }

    .header .navbar {
      width: 270px;
    }

    .header .access {
      border: none;
      padding: 0;
      width: 250px;
    }
  }
}
