* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-one);
}

@font-face {
  font-family: "Neo Tech Std";
  src: url('../public/neo-tech-std.otf') format('opentype'),
    url('../public/neo-tech-std-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;
  --color-dark-green: 15, 68, 74;
  --color-light-green: 25, 169, 168;
  --color-light-blue: 153, 211, 219;
  --color-yellow: 241, 187, 82;
  --color-orange: 246, 142, 79;
  --color-gray: 210, 210, 210;

  --font-size-small: 1rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 2rem;
  --font-size-biggest: 3rem;

  --font-one: "Neo Tech Std", sans-serif;
}