.courses-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 96px;
}

.courses-page h1 {
  text-align: center;
  max-width: 800px;
  margin: 30px 0;
  padding: 0 10px;

  font-size: 36px;
  font-weight: 900;

  color: rgba(var(--color-dark-green));
}

.courses-page section {
  display: flex;
  justify-content: center;

  width: 100%;
}

.courses-page section .video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  background-color: rgba(var(--color-light-green));
}

.courses-page section .video iframe {
  width: 900px;
  height: 504px;
  border-radius: 5px;
  border: 10px solid rgba(var(--color-dark-green));
}

.courses-page .container {
  display: flex;
  justify-content: center;
  width: 100%;

  background-color: rgba(var(--color-gray));
  border-bottom: 1px solid rgba(var(--color-dark-green));
}

.courses-page .container .ebook {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
}

.courses-page .container .ebook .button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.courses-page .container .ebook button {
  all: unset;
  display: flex;
  align-items: center;
  text-align: center;

  max-width: 500px;
  height: 50px;
  padding: 0 10px;

  margin: 50px 0;
  border-radius: 20px;

  color: rgba(var(--color-dark-green));
  font-weight: 600;
  border: 1px solid rgba(var(--color-dark-green));
  background-color: rgba(var(--color-yellow));

  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.courses-page .container .ebook button:hover {
  background-color: rgba(var(--color-dark-green));
  color: rgba(var(--color-white), 1);
}

.courses-page .container .ebook p {
  text-align: justify;
  margin-bottom: 30px;
  line-height: 1.5;
}

.courses-page .container .ebook p:nth-child(4) {
  width: 100%;
  margin-top: 30px;
}

.courses-page .container .ebook ul {
  width: 100%;
  max-width: 800px;
}

.courses-page .container .ebook ul li {
  margin-bottom: 10px;
}

.courses-page .middle-h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: rgba(var(--color-white));
}

.courses-page .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  border-top: 1px solid rgba(var(--color-dark-green));
  border-bottom: 1px solid rgba(var(--color-dark-green));

  background-color: rgba(var(--color-light-blue));
}

.courses-page .content button {
  all: unset;
  display: flex;
  text-align: center;
  align-items: center;

  max-width: 500px;
  height: 50px;

  margin: 50px 0;
  padding: 0 10px;
  border-radius: 20px;

  color: rgba(var(--color-dark-green));
  font-weight: 600;
  border: 1px solid rgba(var(--color-dark-green));
  background-color: rgba(var(--color-yellow));

  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.courses-page .content button:hover {
  background-color: rgba(var(--color-dark-green));
  color: rgba(var(--color-white), 1);
}

.courses-page .content .text {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1000px;

  margin-top: 20px;
  padding: 0 10px;
  line-height: 1.5;
}

.courses-page .content p {
  text-align: justify;
}

.courses-page .faq {
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  line-height: 1.5;
}

.courses-page .faq h2 {
  text-align: center;
  margin: 50px 0;

  font-weight: 900;
  color: rgba(var(--color-dark-green));
}

.courses-page .faq p:nth-child(2) {
  margin-bottom: 20px;
}

.courses-page .faq li {
  margin-bottom: 10px;
  background-color: rgba(var(--color-light-blue));
}

.courses-page .faq p {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .courses-page section .video iframe {
    width: 768px;
    height: 430px;
  }

  .courses-page section .video {
    height: 480px;
  }
}

@media (max-width: 768px) {
  .courses-page section .video iframe {
    width: 650px;
    height: 364px;
  }

  .courses-page section .video {
    height: 400px;
  }
}

@media (max-width: 650px) {
  .courses-page section .video iframe {
    width: 500px;
    height: 280px;
  }

  .courses-page section .video {
    height: 350px;
  }
}

@media (max-width: 500px) {
  .courses-page section .video iframe {
    width: 425px;
    height: 238px;
  }

  .courses-page section .video {
    height: 350px;
  }
}

@media (max-width: 425px) {
  .courses-page h1 {
    font-size: 24px;
  }

  .courses-page section .video {
    height: 250px;
  }

  .courses-page section .video iframe {
    width: 320px;
    height: 179px;
    border-radius: 5px;
    border: 10px solid rgba(var(--color-dark-green));
  }
}
