.courses-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 96px;
}

.courses-page h1 {
  text-align: center;
  max-width: 800px;
  margin: 30px 0;
  padding: 0 10px;

  font-size: 36px;
  font-weight: 900;

  color: rgba(var(--color-dark-green));
}

.courses-page section {
  display: flex;
  justify-content: center;

  width: 100%;
}

.courses-page section .video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 780px;
  padding-top: 30px;
  background-image: url("../../assets/bgsquare.png");
  background-size: 100% auto;
  background-attachment: fixed;
}

.courses-page section .video::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.courses-page section .video iframe {
  width: 900px;
  height: 504px;
  border-radius: 5px;
  margin-bottom: 40px;
  border: 10px solid rgba(var(--color-dark-green));
}

.courses-page section .video button {
  all: unset;
  display: flex;
  align-items: center;
  text-align: center;

  max-width: 500px;
  height: 50px;
  padding: 0 10px;
  border-radius: 20px;

  color: rgba(var(--color-dark-green));
  font-weight: 600;
  background-color: rgba(var(--color-yellow));

  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.courses-page section .video button:hover {
  background-color: rgba(var(--color-dark-green));
  color: rgba(var(--color-white), 1);
}

.courses-page .sub-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.courses-page .sub-pages .navbar {
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;
  max-width: 1300px;

  border-bottom: 1px solid rgba(var(--color-dark-green), .5);

  gap: 15px;
}

.courses-page .sub-pages .navbar p {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 180px;

  color: rgba(var(--color-dark-green));
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.courses-page .sub-pages .navbar p:hover {
  border-bottom: 4px solid rgba(var(--color-dark-green), .7);
  border-top: 4px solid rgba(var(--color-dark-green), .7);
}

.courses-page .sub-pages .navbar p:first-child {
  margin-left: 50px;
}

.courses-page .sub-pages .navbar p.active {
  border-bottom: 4px solid rgba(var(--color-dark-green), .7);
  border-top: 4px solid rgba(var(--color-dark-green), .7);
  font-weight: bolder;
}

@media (max-width: 1024px) {
  .courses-page section .video iframe {
    width: 768px;
    height: 430px;
  }

  .courses-page section .video {
    height: 700px;
  }



  .courses-page .sub-pages .ebook {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .courses-page section .video iframe {
    width: 650px;
    height: 364px;
  }

  .courses-page section .video {
    height: 600px;
  }

  .courses-page .sub-pages .navbar {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
  }

  .courses-page .sub-pages .navbar p:first-child {
    margin: 0;
  }

  .courses-page section .sub-pages .ebook {
    padding: 0 20px;
  }
}

@media (max-width: 650px) {
  .courses-page section .video iframe {
    width: 500px;
    height: 280px;
  }

  .courses-page section .video {
    height: 500px;
  }

  .courses-page section .sub-pages .ebook {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .courses-page section .video iframe {
    width: 425px;
    height: 238px;
  }

  .courses-page section .video {
    height: 450px;
  }

  .courses-page section .sub-pages .ebook {
    padding: 0 20px
  };
}

@media (max-width: 425px) {
  .courses-page h1 {
    font-size: 24px;
  }

  .courses-page section .video {
    height: 400px;
  }

  .courses-page section .video button {
    margin: 0 20px;
  }

  .courses-page section .video iframe {
    width: 320px;
    height: 179px;
    border-radius: 5px;
    border: 10px solid rgba(var(--color-dark-green));
  }

  .courses-page .sub-pages .navbar {
    padding: 0 20px;
  }

  .courses-page .sub-pages .navbar p:first-child {
    margin: 0;
  }

  .courses-page .sub-pages .navbar p {
    text-align: center;
  }

  .courses-page .sub-pages .ebook {
    padding: 0 20px;
  }
}
